# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env files
*.env

# IDE / editor
.vscode/
.idea/

# Node
node_modules/
.DS_Store

# Logs
*.log

# Build
dist/
build/

# Frontend lockfiles
npm-debug.log*
yarn-debug.log*
yarn-error.log*
